<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senai.sp.jandira.imc_app_b">

    <application
        android:allowBackup="true"
        android:icon="@drawable/peso"
        android:label="@string/app_name"
        android:roundIcon="@drawable/peso"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_resultado_ncd"></activity>
        <activity android:name=".NcdActivity" />
        <activity android:name=".ResultadoImcActivity" />
        <activity android:name=".ImcActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>